@charset "UTF-8";

@font-face {
  font-family: "OpenSans-hebrew-light";
  src: url('fonts/open-sans-hebrew/OpenSansHebrew-Light.ttf');
}

@font-face {
  font-family: "OpenSans-hebrew-regular";
  src: url('fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf');
}

@font-face {
  font-family: "OpenSans-hebrew-bold";
  src: url('fonts/open-sans-hebrew/OpenSansHebrew-Bold.ttf');
}

:root {
  --backgrondColor: #ECEFF7;
  --sectionColor: #FFFFFF;
  --textColor: #000000;
  --textPlaceholder: #999999;
  --fillSolidWriteMe: #8163FA;
  --fillOpacdWriteMe: #9A79F9;
  --roundedEdges: 15px;
  --timeTransition: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "OpenSans-hebrew-light";
}

body {
  background-color: var(--backgrondColor);

  overflow: hidden;
}

main {
  height: 100vh;
  /* Define a altura do contêiner principal */
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */

}

section {
  width: 95%;
  height: 95vh;
  padding: 20px;

  border-radius: var(--roundedEdges);
  background-color: var(--sectionColor);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 95%;
  height: 95%;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logo_write_me {

  max-width: 50%;

  /*border: 1px red solid;*/

}

#input_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 7px;
}

#name {
  width: 50vh;
  height: 60px;

  outline: none;
  box-shadow: none;
  border: 0;
  border-bottom: 2px;

  margin: 15px;

  font-family: "OpenSans-hebrew-regular";
  font-size: 3vh;
  text-align: center;
  color: var(--fillSolidWriteMe);
  border-style: solid;
  border-color: var(--fillSolidWriteMe);
  background-color: var(--sectionColor);
}

#btn_entrar {
  width: 50vh;
  height: 50px;

  /* min-width: 30vh;*/

  font-family: "OpenSans-hebrew-bold";
  font-size: 3vh;
  color: var(--fillSolidWriteMe);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--fillSolidWriteMe);
  background-color: var(--sectionColor);
}

footer {
  font-family: "OpenSans-hebrew-regular";
  color: var(--textPlaceholder);
  font-size: 1.7vh;
}