@charset "UTF-8";

@media only screen and (max-width: 480px) {

    .login-container {
        max-width: 100%;
        max-height: 90%;
    }

    #logo_write_me {
        min-width: 80%;
    }

    #input_container {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 7px;
    }

    #name {
        max-height: 60%;
        max-width: 35vh;
        font-size: 18px;
    }

    #btn_entrar {
        max-width: 35vh;
        max-height: 40px;
        font-size: 20px;
    }

    footer {
        font-size: medium;
    }
}